body {
    color:black;
    background-color: turquoise;
}

#name {
    font:  2.5em small-caps Georgia, serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px;
}
#info {
    font:0.8em Arial, sans-serif;
    text-align: center;
    margin-top: 0px;
}

#personalsummary{
    font:1em Arial, sans-serif;
    text-align: justify;
    text-indent: 60px;
    word-spacing: 5px;
    line-height: 20px;
}

.bold{
    font-weight: bold;
}

.list{
    font:1em Arial, sans-serif;
    word-spacing: 5px;
    line-height: 20px;
}

.header {
    background-color: coral;
    font: small-caps Georgia, serif;
    text-align: left;
    text-transform: uppercase;
    text-indent: 40px;
}

